<!-- inventory/signup.html -->
{% extends 'inventory/base.html' %}

{% block content %}
    <h1>Sign Up</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- This will render the form fields -->
        <button type="submit">Sign Up</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color:red;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
